html{
    /*colocando imagen de fondo -- no repite se centra*/
    background: url('../image/backgroud-mount-mini.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

a{
    text-decoration: none;
    color:black;
}


h3{
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.main{
    widows: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: center;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    display:flex;
    width: 800px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: -20px 10px 27px -30px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.card__thumbnail{
    width:425px;
    height: 500px;
    overflow: hidden;
    display: inline-block;
}

.card__image{
    width: 100%;
    height: 100%;
}

.card__content{
    width:420px;
    min-height: 400px;
    
}

.card__title{
    position: relative;
    top:20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.card__enlance{
    transition: 0.3;
}
.card__enlance:hover{
    color:rgba(209,82,187,1)
}
.card__subtitle{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 15px;
    text-transform: lowercase;
}
.card__form{
    display:block;
    margin:0px auto;
    width: 300px;
    margin-top:70px;

}

.card__input{
    position: relative;
}

.input-icon{
    position: absolute;
    left: 5px;
    top: calc(23% - 0.5em); 
  }

.card__input-field{
    width: 90%;
    border:none;
    outline: none;
    border-bottom: 1px solid rgb(238,174,202);
    margin-bottom: 30px;
    background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(209,82,187,1) 100%);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: .5s;
}

.card__input-field[type=text],.card__input-field[type=password]{
    font-family: 'Roboto', sans-serif;
    padding-left: 25px;
    color: #807575;
    font-style: normal;
    font-weight: 200;
    line-height: 30px;
    font-size:15px;
}

.card__input-field:hover{
    color:black;
    border-bottom: none;
    background-size: 100% 2px;

}

.icon { 
    padding: 10px; 
} 

.card__checkout{
    position: relative;
    display:inline-block;
    width:100%;
    margin-top: 4px;
}

.card__checkbox-input{
    width:40%;
    float: left;
    font-style: normal;
    font-weight: 300;
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
}


.card__remember-link{
    width:35%;
    float: right;
    text-align: right;

}

.card__remember-field{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #9744B5;
    transition:.3s;
}   

.card__remember-field:hover{
    color:rosybrown;
}

.card__button{
    width:100%;
    margin-top: 15px;
}

.card__button-field{
    width:100%;
    height: 30px;
    border:none; 
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(180deg, #E852EB 0%, rgba(253, 215, 254, 0) 54.17%), linear-gradient(180deg, #BF15DB 0%, rgba(255, 255, 255, 0) 100%), #F170CD;
    border-radius: 10px;
}


